#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#new {
    background-color: var(--color-secondary);
    color: white;
}

.mat-form-field {
    width: 100%;
}

#error {
    color: var(--color-red);
}